#AI/ML
ai/ai_venv
ai/.env

#Backend
backend/backend_venv
backend/realestate_backend/.env
backend/realestate_backend/realestate_backend/__pycache__
backend/realestate_backend/realestate_backend/migrations/__pycache__

#Frontend
frontend/dapp-ai-realestate/node_modules
frontend/dapp-ai/realestate/.env
frontend/dapp-ai/realestate/.next/static
frontend/dapp-ai/realestate/.next/cache
frontend/dapp-ai-realestate/.next/trace
frontend/dapp-ai-realestate/.next/static/chunks/
frontend/dapp-ai-realestate/.env.local

# Blockchain
blockchain/realestate/.env
blockchain/realestate/.env.local
blockchain/node_modules